<div class="flex flex-col justify-center items-center h-screen bg-gray-100">
  <div class="max-w-md w-full mx-auto bg-white p-8 shadow rounded">
    <div class="flex justify-center items-center">
      <input type="file" id="file" (change)="onFileSelected($event)" style="display: none;">
      <img [src]="tempUser.photo" alt="User Photo" class="w-32 h-32 object-cover rounded-full border-2 border-gray-300" (click)="openFileInput()">
    </div>
    <h1 class="text-3xl font-bold text-left mt-4 bullet">User Profile</h1>
    <h2 class="text-2xl font-semibold text-center mt-4">{{tempUser.name}}</h2>
    <div class="flex flex-col my-5 justify-start items-start w-full text-left mx-auto">
      <div class="flex justify-start items-center mb-2">
        <label class="font-bold mr-2">Email:</label>
        <p class="text-gray-500">{{tempUser.email}}</p>
      </div>
      <div class="flex justify-start items-center mb-2">
        <label class="font-bold mr-2">Teléfono:</label>
        <p *ngIf="!editMode" class="text-gray-500">{{tempUser.phone ? tempUser.phone : 'Introduzca su teléfono'}}</p>
        <input *ngIf="editMode" [(ngModel)]="tempUser.phone" class="border rounded mr-2">
      </div>
      <div class="flex justify-start items-center mb-2">
        <label class="font-bold mr-2">Dirección:</label>
        <p *ngIf="!editMode" class="text-gray-500">{{tempUser.address ? tempUser.address : 'Introduzca su dirección'}}</p>
        <input *ngIf="editMode" [(ngModel)]="tempUser.address" class="border rounded mr-2">
      </div>
    </div>
    <div class="flex justify-between mt-6">
      <button (click)="logout()" class="px-0.5 py-0.5 bg-red-500 text-white rounded w-full mr-2">Logout</button>
      <button *ngIf="!editMode" (click)="editProfile()" class="px-4 py-2 bg-blue-500 text-white rounded w-full ml-2">Edit Profile</button>
      <div *ngIf="editMode" class="flex space-x-2 w-full">
        <button (click)="cancelEdit()" class="px-4 py-2 bg-gray-500 text-white rounded w-full">Cancel</button>
        <button (click)="saveProfile()" class="px-4 py-2 bg-blue-500 text-white rounded w-full">Apply</button>
      </div>
    </div>
  </div>
</div>
