<footer class="font-inter w-full h-auto py-12 flex flex-wrap text-center lg:text-left justify-around footer">
  <a href="../pages/index.html" class="w-[25%] flex pl-12 pr-10 items-center text-center no-underline">
    <img alt="image" ngSrc="../../assets/logo.svg" class="w-20 h-20 logo" height="80" width="80">
    <h1 class="pl-2 text-5xl font-bold logo-name">labrArte®</h1>
  </a>
  <nav class="px-5 w-[20%]">
    <h4 class="text-xl mb-4 font-bold border-black border-b-2 pb-2.5 inline-block">Índice</h4>
    <ul class="list-none text-lg no-underline text-gray-800 gap-3">
      <li><a class="text-lg transition-all hover:text-black footer-links"
             href="../pages/catalogue.html">Catálogo</a></li>
      <li><a class="text-lg transition-all hover:text-black footer-links"
             href="../pages/blog.html">Blog</a></li>
      <li><a class="text-lg transition-all hover:text-black footer-links"
             href="#">Galería</a></li>
      <li><a class="text-lg transition-all hover:text-black footer-links"
             href="../pages/courses.html">Cursos</a></li>
    </ul>
  </nav>
  <nav class="px-5 w-1/4">
    <h4 class="text-xl mb-4 font-bold border-black border-b-2 pb-2.5 inline-block">Compañía</h4>
    <ul class="list-none text-lg no-underline text-gray-800 gap-3">
      <li><a class="text-lg transition-all hover:text-black footer-links"
             href="#">Sobre nosotros</a></li>
      <li><a>Dirección:</a></li>
      <li><a class="text-lg transition-all hover:text-black footer-links"
             href="https://www.google.es/maps/place/labrArte+-+Maestro+Artesano/@28.1153593,-15.5172339,16z/data=!3m1!4b1!4m6!3m5!1s0xc40937056116e61:0x95d7b0fe44b3141f!8m2!3d28.1153593!4d-15.514659!16s%2Fg%2F1tddc2lv?entry=ttu"
             target="_blank">
        <i class="fa-solid fa-location-dot"></i>
        <span>C/ Carretera del Lomo n.º 45 – 35411 Arucas – Las Palmas de Gran Canaria</span>
      </a></li>
      <li><a>Horario: Abierto Lunes a Viernes de 8:00 a 16:00</a></li>
    </ul>
  </nav>
  <nav class="w-[30%] text-center lg:text-left">
    <nav class="px-5">
      <h4 class="text-xl mb-4 font-bold border-black border-b-2 pb-2.5 inline-block">Contacto</h4>
      <ul class="list-none text-lg no-underline text-gray-800 gap-3">
        <li><a class="text-lg transition-all hover:text-black footer-links"
               href="mailto:info@labrarte.com">
          <i class="fa-solid fa-envelope"></i>
          <span>info&#64;labrarte.com</span>
        </a></li>
        <li><a>
          <i class="fa-solid fa-phone"></i>
          <span>+34 123 45 67 89</span>
        </a></li>
        <li><a>
          <i class="fa-brands fa-whatsapp"></i>
          <span>+34 928 12 34 56</span>
        </a></li>
      </ul>
    </nav>
    <nav class="mt-4 px-5">
      <h4 class="text-xl mb-4 font-bold border-black border-b-2 pb-2.5 inline-block">Síguenos</h4>
      <div class="w-full flex gap-2">
        <a class="inline-block w-10 h-10 rounded-3xl text-center leading-10 bg-gray-600 hover:bg-red-600"
           href="https://www.youtube.com/@labrarte" target="_blank"><i
          class="fa-brands fa-youtube text-white"></i></a>
        <a class="inline-block w-10 h-10 rounded-3xl text-center leading-10 bg-gray-600 hover:bg-blue-900"
           href="https://www.facebook.com/labrarte/" target="_blank"><i
          class="fa-brands fa-facebook text-white"></i></a>
        <a class="inline-block w-10 h-10 rounded-3xl text-center leading-10 bg-gray-600 hover:bg-pink-600"
           href="https://www.instagram.com/labrarte_maestro_artesano/" target="_blank"><i
          class="fa-brands fa-instagram text-white"></i></a>
        <a class="inline-block w-10 h-10 rounded-3xl text-center leading-10 bg-gray-600 hover:bg-purple-500"
           href="https://www.tiktok.com/@labrarte.com" target="_blank"><i
          class="fa-brands fa-tiktok text-white"></i></a>
        <a class="inline-block w-10 h-10 rounded-3xl text-center leading-10 bg-gray-600 hover:bg-black"
           href="#"><i
          class="fa-brands fa-x-twitter text-white"></i></a>
      </div>
    </nav>
  </nav>
  <article class="w-full text-gray-800 text-center pt-2.5 mt-4 inline-block border-t-2 border-gray-800">
    <p>
      labrArte® - Autoriza la divulgación o utilización del contenido de
      esta web, haciendo referencia de la misma.
    </p>
  </article>
</footer>
