.category-element-container {
  flex: 0 0 auto;
  width: 333px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.category-element-navlink {
  display: contents;
}
.category-element-container1 {
  width: 333px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 339px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg');
  background-position: center;
}
.category-element-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 101px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.category-element-container3 {
  flex: 0 0 auto;
  width: 129px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.category-element-navlink1 {
  font-size: 18px;
  align-self: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
