* {
  font-family: Inter, serif;
}

.element-box-container {
  flex: 0 0 auto;
  width: 333px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.element-image {
  width: 336px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 336px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  justify-content: center;
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg');
  background-position: center;
}

.product-text-container {
  width: 100%;
  display: flex;
}

.product-info {
  width: 50%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 18px;
}

.product-text {
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}

.product-buttons {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}

.product-buttons a {
  text-decoration: none;
  color: black;
  margin: 10px
}

.category-navlink {
  display: contents;
  text-decoration: none;
  text-align: center;
  color: black;
}
