* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: sans-serif;
}

.header {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  display: inline-block;
}

.header-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-items: start;
}

#header-logo-image {
  width: 66px;
  height: 66px;
}

#header-logo-name {
  padding-left: 5px;
  font-size: 42px;
  font-family: Papyrus, fantasy;
  font-weight: bold;
  filter: drop-shadow(2px 2px #363636);
}

.header-menu {
  gap: 10px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-items: end;
}

.header-links {
  width: auto;
  padding: 0 10px;
  font-size: 18px;
  text-decoration: none;
  color: #363636;
  display: flex;
  transition: all .3s ease;
}

.header-links:hover {
  color: black;
  filter: drop-shadow(1px 1px #595959);
}

.link-names {
  padding-left: 10px;
}

#arrow-down {
  padding-left: 5px;
}

#user-icon {
  padding-left: 20px;
}
