.item-component-container {
  flex: 0 0 auto;
  width: 333px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.item-component-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.item-component-container2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 339px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  justify-content: center;
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg');
  background-position: center;
}
.item-component-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 101px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.item-component-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-component-text {
  font-size: 18px;
  align-self: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.item-component-text1 {
  font-size: 18px;
  align-self: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.item-component-text2 {
  font-size: 21px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.item-component-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.item-component-container6 {
  flex: 0 0 auto;
  width: 205px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.item-component-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  justify-content: flex-start;
}
.item-component-icon {
  width: 32px;
  height: 32px;
  align-self: center;
}
.item-component-navlink {
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.item-component-container8 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  justify-content: flex-end;
}
.item-component-icon4 {
  width: 32px;
  height: 32px;
  align-self: center;
}
.item-component-button {
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
