.product-element-container {
  flex: 0 0 auto;
  width: 333px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.product-element-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-element-container2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 339px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  justify-content: center;
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg');
  background-position: center;
}
.product-element-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 101px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.product-element-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-element-text {
  font-size: 18px;
  align-self: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.product-element-text1 {
  font-size: 18px;
  align-self: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.product-element-text2 {
  font-size: 21px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.product-element-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-element-container6 {
  flex: 0 0 auto;
  width: 205px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-element-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-element-icon {
  width: 32px;
  height: 32px;
  align-self: center;
}
.product-element-navlink {
  align-self: flex-end;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.product-element-container8 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  justify-content: flex-end;
}
.product-element-icon4 {
  width: 32px;
  height: 32px;
  align-self: center;
}
.product-element-button {
  align-self: flex-end;
  margin: var(--dl-space-space-halfunit);
}


.product-elements-root-class-name {
  width: 100%;
}

.products-list-container {
  gap: var(--dl-space-space-fiveunits);
  width: 85%;
  height: 95%;
  margin: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
