* {
    font-family: Inter, serif;
}

.slider {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 100%;
    height: 554px;
    display: flex;
}

.slide {
    width: 100%;
    height: 100%;
    margin: auto;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    text-align: center;
    align-content: space-around;
    background-color: rgba(221, 221, 221, 1);
}

.slider-title {
    top: 194px;
    width: 100%;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
    padding: 60px 0;
}

#slide-button {
    margin-bottom: 50px;
    align-self: flex-end;
    padding: 10px 20px;
}

.slider-text {
    width: 100%;
    height: auto;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 18px;
    font-stretch: normal;
    padding-bottom: 50px;
}

.slider-navigation {
    gap: 12px;
    width: 128px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    align-self: flex-end;
}
