.slider {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 100%;
    height: 554px;
    display: flex;
}

.slide {
    flex: 1;
    width: 100%;
    height: 554px;
    margin: auto;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    background-color: rgba(221, 221, 221, 1);
}

.slider-title {
    top: 194px;
    color: rgb(0, 0, 0);
    width: 189px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 24px;
    text-align: center;
    font-family: "Inter", serif;
    font-weight: 700;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
}

.slider-button {
    top: 326px;
    width: var(--dl-size-size-medium);
    height: 32px;
    margin: auto;
    position: absolute;
    align-self: flex-end;
}

.slider-text {
    color: rgba(0, 0, 0, 1);
    width: 281px;
    height: auto;
    font-size: 16px;
    align-self: center;
    text-align: center;
    font-family: Inter, serif;
    font-weight: 500;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
}

.slider-navigation {
    gap: 12px;
    top: 524px;
    width: 128px;
    margin: auto;
    display: flex;
    align-items: flex-start;
}
