<main class="w-full flex flex-col overflow-auto min-h-screen items-center justify-center">
    <section class="w-4/5 flex items-start justify-center">
        <div class="w-3/4 block self-center">
            <article class="w-11/12 h-auto text-2xl font-medium pb-10">
                <p>
                    Lorem ipsum dolor sit amet consectetur. Viverra id tortor
                    lorem aliquam eget id quis. Imperdiet non purus orci
                    senectus. Tortor id suspendisse id pellentesque ac. Mattis
                    dignissim aenean senectus volutpat donec duis tellus lorem.
                </p>
            </article>
            <article class="w-11/12 h-auto text-2xl font-medium pb-10">
                <p>
                    Lorem ipsum dolor sit amet consectetur. Viverra id tortor
                    lorem aliquam eget id quis. Imperdiet non purus orci
                    senectus. Tortor id suspendisse id pellentesque ac. Mattis
                    dignissim aenean senectus volutpat donec duis tellus lorem.
                </p>
            </article>
        </div>
        <img
                alt="image"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="w-80 h-[486px] object-cover"
        />
    </section>
</main>
