<main class="w-full flex flex-col items-center overflow-auto">
    <h2 id="product-name" class="w-4/5 mx-auto m-16 text-4xl font-bold"></h2>
    <div class="w-4/5 mx-auto flex overflow-hidden relative flex-wrap gap-48 justify-between">
        <img id="product-image" alt="product-image" class="w-1/3 h-auto object-contain" src=""/>
        <div class="w-1/2 flex flex-col relative items-start flex-1">
            <h3 id="product-price" class="text-2xl font-semibold mb-10"></h3>
            <p id="product-description" class="text-xl text-left font-medium">
                Lorem ipsum dolor sit amet consectetur. Viverra id tortor lorem
                aliquam eget id quis. Imperdiet non purus orci senectus. Tortor
                id suspendisse id pellentesque ac. Mattis dignissim aenean
                senectus volutpat donec duis tellus lorem.
            </p>
            <div id="product-buttons" class="w-1/2 flex text-right gap-10 mt-4"></div>
        </div>
    </div>
    <div id="return-button" class="my-10"></div>
</main>
<script type="module" src="../scripts/productLoader.js"></script>
