<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Element</title>
    <link rel="stylesheet" href="components/styles/element-box.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <section class="category-element-container">
      <a href="category.html" class="category-navlink">
        <div class="element-image"></div>
        <p id="category-name">Categoría</p>
      </a>
    </section>
  </body>
</html>
