<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Component</title>
    <link rel="stylesheet" href="components/styles/category-element.css">
    <link rel="stylesheet" href="components/styles/categories-list.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <div class="category-element-container">
      <a href="category.html" class="category-element-navlink">
        <div class="category-element-container1"></div>
      </a>
      <div class="category-element-container2">
        <div class="category-element-container3">
          <a href="category.html" class="category-element-navlink1">
            <p>Categoría</p>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
