<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Component</title>
    <link rel="stylesheet" href="components/styles/category-element.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="components/styles/categories-list.css">
    <script src="xlu-include-file.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <div class="category-list-container">
      <category-element id="category-element" xlu-include-file="components/category-element.html"></category-element>
      <category-element id="category-element" xlu-include-file="components/category-element.html"></category-element>
      <category-element id="category-element" xlu-include-file="components/category-element.html"></category-element>
      <category-element id="category-element" xlu-include-file="components/category-element.html"></category-element>
      <category-element id="category-element" xlu-include-file="components/category-element.html"></category-element>
      <category-element id="category-element" xlu-include-file="components/category-element.html"></category-element>
    </div>
  <script>xLuIncludeFile();</script>
  </body>
</html>
