<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="components/styles/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <footer class="footer">
      <div class="footer-row">
        <div class="footer-logo">
          <img alt="image" src="/assets/logo.png" id="footer-logo-image">
          <h1 id="footer-logo-name">labrArte®</h1>
        </div>
        <div id="footer-index" class="footer-menu">
          <h4>Índice</h4>
          <u1>
            <li><a class="footer-links" href="catalogue.html">Catálogo</a></li>
            <li><a class="footer-links" href="blog.html">Blog</a></li>
            <li><a class="footer-links" href="#">Galería</a></li>
            <li><a class="footer-links" href="courses.html">Cursos</a></li>
          </u1>
        </div>
        <div id="footer-company" class="footer-menu">
          <h4>Compañía</h4>
          <u1>
            <li><a class="footer-links" href="#">Sobre nosotros</a></li>
            <li><a>Localización:</a></li>
            <li><a class="footer-links" href="#">
              <i class="fa-solid fa-location-dot"></i>
              <span>C/Carretera de Ejemplo n.º45, 35411 Arucas, Las Palmas de Gran Canaria</span>
            </a></li>
            <li><a class="footer-links" href="#">Política de Privacidad</a></li>
            <li><a class="footer-links" href="#">Política de Cookies</a></li>
          </u1>
        </div>
        <div class="footer-column">
          <div class="footer-menu">
            <h4>Contacto</h4>
            <u1>
              <li><a>
                <i class="fa-solid fa-envelope"></i>
                <span>correo.ejemplo@gmail.com</span>
              </a></li>
              <li><a>
                <i class="fa-solid fa-phone"></i>
                <span>+34 123 45 67 89</span>
              </a></li>
              <li><a>
                <i class="fa-brands fa-whatsapp"></i>
                <span>+34 928 12 34 56</span>
              </a></li>
            </u1>
          </div>
          <div class="footer-menu">
            <h4>Síguenos</h4>
            <div class="social-links">
              <a id="youtube" href="#"><i class="fa-brands fa-youtube"></i></a>
              <a id="facebook" href="#"><i class="fa-brands fa-facebook"></i></a>
              <a id="instagram" href="#"><i class="fa-brands fa-instagram"></i></a>
              <a id="tiktok" href="#"><i class="fa-brands fa-tiktok"></i></a>
              <a id="x-twitter" href="#"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
          </div>
        </div>
        <div class="footer-text" id="extended-footer">
        <p>
          labrArte® - Autoriza la divulgación o utilización del contenido de
          esta web, haciendo referencia de la misma.
        </p>
        </div>
      </div>
    </footer>
  </body>
</html>