<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  <footer class="footer-section">
    <div class="container">
      <div class="footer-row">
        <div class="footer-logo">
          <img src="/public/external/logo.png" alt="">
          <h2>labrArte</h2>
        </div>
        <div class="footer-index">
          <h4>Índice</h4>
          <u1>
            <li><a href="#">Catálogo</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Galería</a></li>
            <li><a href="#">Cursos</a></li>
          </u1>
        </div>
        <div class="footer-links">
          <h4>Compañía</h4>
          <u1>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a>Localización:</a></li>
            <li><a href="#"><i class="fas fa-location-dot"></i> C/Carretera del Lomo n.º45, 35411 Arucas, Las Palmas de Gran Canaria</a></li>
            <li><a href="#">Política de Privacidad</a></li>
            <li><a href="#">Política de Cookies</a></li>
          </u1>
        </div>
        <div class="footer-column">
          <div class="footer-info">
            <h4>Contacto</h4>
            <u1>
              <li><a>correo.ejemplo@gmail.com</a></li>
              <li><a>+34 123 45 67 89</a></li>
              <li><a>+34 928 12 34 56</a></li>
            </u1>
          </div>
          <div class="footer-social">
            <h4>Síguenos</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-youtube"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-tiktok"></i></a>
              <a href="#"><i class="fab fa-x-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>