<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="components/styles/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <header class="header">
      <div class="header-row">
        <div class="header-logo">
          <img alt="image" src="/assets/logo.png" id="header-logo-image"/>
          <h1 id="header-logo-name">labrArte®</h1>
        </div>
        <div class="header-menu">
          <a href="index.html" class="header-links">
            <i class="fa-solid fa-house"></i>
            <p class="link-names">Inicio</p>
          </a>
          <a href="catalogue.html" class="header-links">
            <i class="fa-solid fa-list"></i>
            <span class="link-names">Catálogo</span>
          </a>
          <a href="blog.html" class="header-links">
            <i class="fa-solid fa-book"></i>
            <span class="link-names">Blog</span>
          </a>
          <a class="header-links">
            <i class="fa-solid fa-image"></i>
            <span class="link-names">Galería</span>
            <i id="arrow-down" class="fa-solid fa-chevron-down"></i>
          </a>
          <a href="courses.html" class="header-links">
            <i class="fa-solid fa-graduation-cap"></i>
            <span class="link-names">Cursos</span>
          </a>
          <a class="header-links">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
          <a href="login.html" class="header-links">
            <i id="user-icon" class="fa-solid fa-user"></i>
          </a>
        </div>
      </div>
    </header>
  </body>
</html>
