<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <header class="header">
      <div class="header-row">
        <div class="header-logo">
          <img alt="image" src="/assets/logo.png" class="logo-image"/>
          <span class="logo-name">labrArte®</span>
        </div>
        <div class="header-menu">
          <a href="../index.html" class="header-links">
            <i class="fas fa-house"></i>
            <span class="link-names">Inicio</span>
          </a>
          <a href="/catalogue.html" class="header-links">
            <i class="fas fa-list"></i>
            <span class="link-names">Catálogo</span>
          </a>
          <a href="/blog.html" class="header-links">
            <i class="fas fa-book"></i>
            <span class="link-names">Blog</span>
          </a>
          <div class="header-links">
            <i class="fas fa-image"></i>
            <span class="link-names">Galería</span>
            <i id="arrow-down" class="fas fa-chevron-down"></i>
          </div>
          <a href="/courses.html" class="header-links">
            <i class="fas fa-graduation-cap"></i>
            <span class="link-names">Cursos</span>
          </a>
          <a class="header-links">
            <i class="fas fa-magnifying-glass"></i>
          </a>
        </div>
      </div>
    </header>
  </body>
</html>
