<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Components</title>
    <link rel="stylesheet" href="components/styles/item-components.css">
    <link rel="stylesheet" href="components/styles/item-component.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <div class="item-components-item-components">
      <item-component id="item-component" xlu-include-file="components/item-component.html"></item-component>
      <item-component id="item-component" xlu-include-file="components/item-component.html"></item-component>
      <item-component id="item-component" xlu-include-file="components/item-component.html"></item-component>
      <item-component id="item-component" xlu-include-file="components/item-component.html"></item-component>
      <item-component id="item-component" xlu-include-file="components/item-component.html"></item-component>
      <item-component id="item-component" xlu-include-file="components/item-component.html"></item-component>
    </div>
  </body>
</html>
