<!DOCTYPE html>
<html lang="wa">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pagination</title>
        <link rel="stylesheet" href="components/styles/pagination.css">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>
    <div class="pagination">
        <div class="page-numeration">
            <i class="fa-solid fa-caret-left"></i>
        </div>
        <div class="page-numeration" id="actual-page">
            <span class="page-num">1</span>
        </div>
        <div class="page-numeration">
            <span class="page-num">2</span>
        </div>
        <div class="page-numeration">
            <span class="page-num">3</span>
        </div>
        <div class="page-numeration">
            <span class="page-num">...</span>
        </div>
        <div class="page-numeration">
            <span class="page-num">9</span>
        </div>
        <div class="page-numeration">
            <span class="page-num">10</span>
        </div>
        <div class="page-numeration">
            <i class="fa-solid fa-caret-right"></i>
        </div>
    </div>
    </body>
</html>