<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Component</title>
    <link rel="stylesheet" href="components/styles/product-component.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="components/styles/products-component.css">
    <script src="xlu-include-file.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <div class="products-component-container">
      <product-component id="product-component" xlu-include-file="components/product-component.html"></product-component>
      <product-component id="product-component" xlu-include-file="components/product-component.html"></product-component>
      <product-component id="product-component" xlu-include-file="components/product-component.html"></product-component>
      <product-component id="product-component" xlu-include-file="components/product-component.html"></product-component>
      <product-component id="product-component" xlu-include-file="components/product-component.html"></product-component>
      <product-component id="product-component" xlu-include-file="components/product-component.html"></product-component>
    </div>
  <script>xLuIncludeFile();</script>
  </body>
</html>
