<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Element</title>
    <link rel="stylesheet" href="components/styles/element-box.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <div class="element-box-container">
      <div class="element-image"></div>
      <div class="product-text-container">
        <div class="product-info">
          <h4 class="product-text">Producto 1</h4>
          <p class="product-text">
            [Descripción]
          </p>
          <p class="product-text">5.99€</p>
        </div>
        <div id="product-actions">
          <a href="product-page.html" class="product-buttons"><i class="fa-solid fa-shopping-cart"></i> Comprar</a>
          <a class="product-buttons"><i class="fa-solid fa-message"></i> Contactar</a>
        </div>
      </div>
    </div>
  </body>
</html>
