<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Component</title>
    <link rel="stylesheet" href="styles/product-component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <div class="product-component-container">
      <a href="/items.html" class="product-component-navlink">
        <div class="product-component-container1"></div>
      </a>
      <div class="product-component-container2">
        <div class="product-component-container3">
          <a href="/producto.html" class="product-component-navlink1">
            <span>Product</span>
            <br />
            <br />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
