<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="components/styles/slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
    <body>
        <div class="slider">
            <form class="form"></form>
            <div class="slide">
                <span class="slider-title">This is slide 1</span>
                <div>
                    <label>
                        <input type="button" value="Button">
                    </label>
                </div>
                <span class="slider-text">
                    This is a description of slide 1. Lorem ipsum placeholder copy. Text description
                </span>
            </div>
            <div class="slider-navigation">
                <i class="fa-solid fa-circle"></i>
                <i class="fa-solid fa-circle"></i>
                <i class="fa-solid fa-circle"></i>
                <i class="fa-solid fa-circle"></i>
                <i class="fa-solid fa-circle"></i>
            </div>
        </div>
    </body>
</html>