<body class="flex flex-col min-h-screen login-signup">
<section class="text-center block flex-1">
  <app-logo class="flex justify-center my-4 mt-8"></app-logo>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()"
        class="border rounded-lg w-96 m-auto block bg-white shadow-3xl shadow-black py-5 h-auto">
    <h3 class="text-2xl font-semibold mb-2">Inicio de Sesión</h3>
    <p class="mb-5 text-lg font-medium">¿Es tu primera vez?
      <a class="underline text-blue-700" [routerLink]="['/signup']">Regístrate</a>
    </p>
    <label>
      <input formControlName="email" id="email-login" class="w-3/4 mb-4 p-2 border border-gray-500 rounded" type="email"
             placeholder="Correo electrónico" required>
    </label>
    <div *ngIf="email?.invalid && email?.touched" class="text-red-500 text-sm mb-4">
      <p *ngIf="email?.errors?.['required']">El correo electrónico es obligatorio</p>
      <p *ngIf="email?.errors?.['email']">El correo electrónico no es válido</p>
    </div>
    <label>
      <input formControlName="password" id="password-login" class="w-3/4 mb-4 p-2 border border-gray-500 rounded"
             type="password" placeholder="Contraseña" required>
    </label>
    <div *ngIf="password?.invalid && password?.touched" class="text-red-500 text-sm mb-4">
      <p *ngIf="password?.errors?.['required']">La contraseña es obligatoria</p>
      <p *ngIf="password?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</p>
      <p *ngIf="password?.errors?.['maxlength']">La contraseña no puede tener más de 18 caracteres</p>
    </div>
    <p class="mb-4"><a class="underline text-blue-700 text-lg font-medium" href="#">¿Olvidaste tu contraseña?</a>
    </p>
    <label>
      <input class="w-1/3 p-1.5 bg-gray-400 rounded mb-4" type="submit" value="Iniciar sesión">
    </label>
    <p class="mb-4 text-lg font-medium"><a>o conéctate con</a></p>
    <div class="login-icons flex gap-2 justify-center no-underline">
      <a href="#"><i class="fa-brands fa-square-facebook text-blue-800"></i></a>
      <a href="#"><i class="fa-brands fa-google"></i></a>
    </div>
  </form>
</section>
<footer class="pt-2.5 mb-5 inline-block justify-center">
  <article class="mt-auto mx-auto">
    <p class="text-center">
      labrArte® - Autoriza la divulgación o utilización del contenido de
      esta web, haciendo referencia de la misma.
    </p>
  </article>
</footer>
</body>
