<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products List</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../scripts/xlu-include-file.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<section class="gap-5 w-4/5 flex flex-wrap relative items-center justify-center">
    <section class="product-element" xlu-include-file="components/product-element.html"></section>
    <section class="product-element" xlu-include-file="components/product-element.html"></section>
    <section class="product-element" xlu-include-file="components/product-element.html"></section>
    <section class="product-element" xlu-include-file="components/product-element.html"></section>
    <section class="product-element" xlu-include-file="components/product-element.html"></section>
    <section class="product-element" xlu-include-file="components/product-element.html"></section>
</section>
<script>xLuIncludeFile();</script>
</body>
</html>
