<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Slider</title>
</head>
<body>
<div class="container-carousel">
    <div class="carruseles" id="slider">
        <section class="slider-section">
            <img src="../../public/img.png" alt="image">
        </section>
    </div>
    <div class="btn-left"><i class='fa fa-chevron-left'></i></div>
    <div class="btn-right"><i class='fa fa-chevron-right'></i></div>
</div>
<script src="../scripts/slider.js"></script>
</body>