* {
  font-family: Inter, serif;
}

.blog-section {
  gap: 64px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-title {
  width: 90%;
  height: auto;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  margin-left: var(--dl-space-space-sixunits);
  margin-top: var(--dl-space-space-threeunits);
  font-stretch: normal;
}

.blog-subtitle {
  width: 90%;
  height: auto;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-left: var(--dl-space-space-sixunits);
}

.blog-frames {
  gap: 140px;
  width: 80%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
}

.blog-text04 {
  width: 70%;
  height: auto;
  font-size: 20px;
  text-align: left;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
}

.blog-images {
  width: 200px;
  object-fit: cover;
}
