.catalogue-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

#products-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalogue-catalogue {
  gap: 66px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}

.catalogue-text {
  color: rgba(0, 0, 0, 1);
  width: 1266px;
  height: auto;
  font-size: 40px;
  align-self: flex-start;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 500;
  line-height: normal;
  margin-left: var(--dl-space-space-sixunits);
  font-stretch: normal;
  margin-right: var(--dl-space-space-sixunits);
  text-decoration: none;
}

.catalogue-pagination {
  gap: 8px;
  width: 347px;
  height: 50px;
  display: flex;
  padding: 8px;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}

.page-numeration {
  width: 32px;
  height: 32px;
  display: flex;
  opacity: 0.50;
  position: relative;
  flex-shrink: 0;
  border-radius: 4px;
  text-align: center;
  align-items: center;
}

.catalogue-carat {
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  position: absolute;
}

.catalogue-page1 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.catalogue-pageactive {
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(66, 0, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

#actual-page {
  top: 5px;
  left: 4px;
  color: rgba(66, 0, 255, 1);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 14px;
  text-align: center;
  font-family: SF Pro Text, serif;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.catalogue-page2 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(223, 227, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.other-pages {
  top: 5px;
  left: 4px;
  color: var(--dl-color-darkgrey-400);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 14px;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.catalogue-page3 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(223, 227, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.catalogue-text4 {
  top: 5px;
  left: 4px;
  color: var(--dl-color-darkgrey-400);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 14px;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.catalogue-page4 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(223, 227, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.catalogue-text6 {
  top: 5px;
  left: 4px;
  color: var(--dl-color-darkgrey-400);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 14px;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.catalogue-page5 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(223, 227, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.catalogue-text7 {
  top: 5px;
  left: 4px;
  color: var(--dl-color-darkgrey-400);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 14px;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.catalogue-page6 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(223, 227, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.catalogue-carat1 {
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  position: absolute;
}
