* {
  font-family: Inter, serif;
}

.catalogue-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

#categories-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

#products-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalogue-section {
  gap: 66px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}

.catalogue-title {
  width: 90%;
  height: auto;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  margin-left: var(--dl-space-space-sixunits);
  margin-top: var(--dl-space-space-threeunits);
  font-stretch: normal;
}
