.product-component-container {
  flex: 0 0 auto;
  width: 333px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.product-component-navlink {
  display: contents;
}

.product-component-container1 {
  width: 333px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 339px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg');
  background-position: center;
}

.product-component-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 101px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.product-component-container3 {
  flex: 0 0 auto;
  width: 129px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-component-navlink1 {
  font-size: 18px;
  align-self: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}

.products-component-container {
  gap: var(--dl-space-space-fiveunits);
  flex: 0 0 auto;
  width: 85%;
  height: 1040px;
  margin: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.products-component-root-class-name {
  width: 100%;
  height: auto;
}

.catalogue-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.catalogue-catalogue {
  gap: 71px;
  width: 100%;
  height: 2091px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.catalogue-text {
  color: rgba(0, 0, 0, 1);
  width: 1266px;
  height: auto;
  font-size: 40px;
  align-self: flex-start;
  font-style: Medium;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 500;
  line-height: normal;
  margin-left: var(--dl-space-space-sixunits);
  font-stretch: normal;
  margin-right: var(--dl-space-space-sixunits);
  text-decoration: none;
}
.catalogue-pagination {
  gap: 8px;
  width: 20%;
  height: 2%;
  display: flex;
  padding: 8px;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.catalogue-page {
  width: 32px;
  height: 32px;
  display: flex;
  opacity: 0.50;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(145, 158, 171, 1);
}
.catalogue-carat {
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.catalogue-page1 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.catalogue-pageactive {
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(66, 0, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.catalogue-text2 {
  top: 5px;
  left: 4px;
  color: rgba(66, 0, 255, 1);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Text, serif;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.catalogue-page2 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(223, 227, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.catalogue-text3 {
  top: 5px;
  left: 4px;
  color: var(--dl-color-darkgrey-400);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.catalogue-page3 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(223, 227, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.catalogue-text4 {
  top: 5px;
  left: 4px;
  color: var(--dl-color-darkgrey-400);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.catalogue-page4 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(223, 227, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.catalogue-text6 {
  top: 5px;
  left: 4px;
  color: var(--dl-color-darkgrey-400);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.catalogue-page5 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(223, 227, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.catalogue-text7 {
  top: 5px;
  left: 4px;
  color: var(--dl-color-darkgrey-400);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.catalogue-page6 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(223, 227, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.catalogue-carat1 {
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  position: absolute;
}
