* {
  font-family: Inter, serif;
}

.courses-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.courses-section {
  gap: 74px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}

.courses-title {
  width: 1229px;
  height: auto;
  font-size: 40px;
  justify-self: left;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin: var(--dl-space-space-unit) var(--dl-space-space-sixunits);
  text-decoration: none;
}

.courses-frames {
  gap: 125px;
  display: flex;
  align-items: center;
  margin: var(--dl-space-space-unit) var(--dl-space-space-sixunits);
}

.courses-texts {
  width: 736px;
  height: auto;
  font-size: 20px;
  text-align: left;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.courses-images {
  width: 354px;
  height: 355px;
  object-fit: cover;
}

