* {
  font-family: Inter, serif;
}

.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-main {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 1);
}

.index-section {
  flex: 0 0 auto;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.index-text-section {
  width: 70%;
  height: 600px;
  display: block;
  align-self: center;
  flex-shrink: 1;
}

.index-text {
  color: rgba(0, 0, 0, 1);
  width: 95%;
  height: auto;
  font-size: 24px;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 500;
  padding-bottom: 20px;
}

.index-image {
  width: 322px;
  height: 486px;
  object-fit: cover;
}
