* {
    font-family: Inter, serif;
}

body {
    background-image: linear-gradient(315deg, rgb(189, 195, 199) 0.00%,rgb(255, 255, 255) 100.00%);
}

.login-page {
    text-align: center;
    display: block;
}

.logo-container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    text-decoration: none;
}

#logo-image {
    width: 66px;
    height: 66px;
}

#logo-name {
    padding-left: 5px;
    font-size: 42px;
    font-family: Papyrus, fantasy;
    font-weight: bold;
    color: black;
    filter: drop-shadow(2px 2px #595959);
}

.box-section {
    box-sizing: border-box;
    width: 400px;
    background-color: white;
    padding-top: 20px;
    margin: auto;
    display: block;
    box-shadow: 4px 4px 12px black;
    border-radius: 1rem;
}

#login-box {
    height: 430px;
}

#signup-box {
    height: 490px;
}

.fields {
    width: 75%;
    margin-bottom: 15px;
    padding: 8px 8px;
}

#button {
    width: 30%;
    padding: 6px 6px;
}

.login-icons {
    text-decoration: none;
    scale: 2;
}

#login-footer {
    color: #363636;
    padding-top: 10px;
    display: inline-block;
    margin-top: auto;
}

.fa-square-facebook {
    color: #003EB3;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg)
        73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
