.producto-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.producto-text {
  margin: var(--dl-space-space-sixunits);
  font-size: 3em;
  align-self: flex-start;
}
.producto-producto {
  gap: 185px;
  width: 90%;
  height: 40%;
  margin: var(--dl-space-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.producto-product-viewer {
  width: 100%;
  height: 40%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.producto-text3 {
  left: 575px;
  color: rgba(0, 0, 0, 1);
  width: 311px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Medium;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.producto-text5 {
  top: 126px;
  left: 552px;
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.producto-image {
  width: 534px;
  height: 100%;
  object-fit: cover;
}
.producto-boton-compra {
  width: 20%;
  height: 74px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.producto-icon {
  width: 32px;
  height: 32px;
  align-self: center;
}
.producto-comprar {
  color: rgba(0, 0, 0, 1);
  width: 119px;
  height: auto;
  font-size: 24px;
  align-self: center;
  font-style: Normal;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.producto-boton-contactar {
  width: 20%;
  height: 74px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.producto-icon4 {
  width: 32px;
  height: 32px;
  align-self: center;
}
.producto-contactar {
  color: rgb(0, 0, 0);
  width: 119px;
  height: auto;
  font-size: 24px;
  font-style: Normal;
  text-align: center;
  font-family: "Inter", serif;
  font-weight: 400;
  line-height: 130%;
  font-stretch: normal;
  text-decoration: none;
}
.producto-return {
  right: 48px;
  width: 100px;
  bottom: 24px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
}
.producto-icon6 {
  width: 26px;
  height: 26px;
  align-self: center;
}
.producto-volver {
  top: 0;
  color: rgb(0, 0, 0);
  right: 0;
  width: 66px;
  bottom: 0;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  font-style: Normal;
  text-align: center;
  font-family: "Inter", serif;
  font-weight: 400;
  line-height: 130%;
  font-stretch: normal;
  text-decoration: none;
}
.producto-container1 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
