.header-component {
  width: 100%;
  height: var(--dl-size-size-large);
  display: flex;
  padding: 34px 59px;
  overflow: hidden;
  position: relative;
  max-width: none;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.header-logo {
  gap: 23px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.header-image {
  width: 85px;
  object-fit: cover;
}
.header-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 44px;
  font-style: Normal;
  text-align: left;
  font-family: Paprika, serif;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.header-navigation-menu {
  gap: 10px;
  width: 590px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-start;
}
.header-home {
  width: 90px;
  height: 29px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}

.header-text02 {
  top: 5px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Normal;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.header-icons {
  top: 0;
  left: 0;
  width: 31px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.header-icon {
  width: 24px;
  height: 24px;
}
.header-navlink {
  display: contents;
}
.header-catalogue {
  width: 110px;
  height: 29px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}

.header-text04 {
  top: 5px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Normal;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.header-icons1 {
  top: 0;
  left: 0;
  width: 31px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.header-icon02 {
  width: 24px;
  height: 24px;
}
.header-blog {
  width: 84px;
  height: 29px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
  text-decoration: none;
}

.header-icon06 {
  width: 22px;
  height: 22px;
  align-self: center;
}
.header-text06 {
  top: 5px;
  left: 22px;
  color: rgb(0, 0, 0);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Normal;
  text-align: center;
  font-family: "Inter", serif;
  font-weight: 400;
  line-height: 130%;
  font-stretch: normal;
  text-decoration: none;
}
.header-galery {
  width: 120px;
  display: flex;
  padding: 6px 8px;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

.header-icon09 {
  flex: 1;
  width: 24px;
  height: 24px;
}
.header-text07 {
  color: rgb(0, 0, 0);
  width: 65px;
  height: auto;
  font-size: 16px;
  font-style: Normal;
  text-align: center;
  font-family: "Inter", serif;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.header-icon13 {
  width: 18px;
  height: 24px;
}
.header-courses {
  width: 99px;
  height: 29px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}

.header-text08 {
  top: 5px;
  left: 26px;
  color: rgba(0, 0, 0, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Normal;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.header-icon15 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.header-search {
  width: 31px;
  height: 29px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.header-icon18 {
  width: 24px;
  height: 24px;
}
.header-root-class-name {
  width: 100%;
}


.footer-component {
  width: 100%;
  display: flex;
  position: relative;
  max-width: none;
  align-items: center;
  flex-direction: column;
  padding: var(--dl-space-space-twounits) var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-image: linear-gradient(315deg, rgb(189, 195, 199) 0.00%,rgb(255, 255, 255) 100.00%);
}
.footer-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.footer-logo1 {
  gap: 23px;
  width: 278px;
  height: 77px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.footer-image {
  width: 85px;
  object-fit: cover;
}
.footer-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 36px;
  font-style: Normal;
  text-align: left;
  font-family: Paprika, serif;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-links-container {
  width: 65%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-resources-container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-recursos {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-catálogo {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}

.footer-blog {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-container1 {
  width: 100%;
  height: 18px;
  display: flex;
  align-items: flex-start;
}
.footer-company-container {
  flex: 1;
  height: 218px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-compañía {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-sobre-nosotros {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-localización {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-localization {
  width: 100%;
  height: 48px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
}
.footer-icon {
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.footer-container2 {
  flex: 0 0 auto;
  width: 10px;
  height: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text2 {
  width: var(--dl-size-size-xxlarge);
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-container3 {
  width: 100%;
  height: 18px;
  display: flex;
  align-items: flex-start;
}
.footer-contact-container {
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.footer-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-contacto {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-e-mail {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: flex-start;
}
.footer-icon02 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.footer-container4 {
  flex: 0 0 auto;
  width: 10px;
  height: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-correo {
  height: 24px;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-space {
  width: 100%;
  height: 12px;
  display: flex;
  align-items: flex-start;
}
.footer-whats-app {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-start;
}
.footer-icon04 {
  width: 24px;
  height: 24px;
}
.footer-container5 {
  flex: 0 0 auto;
  width: 10px;
  height: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text3 {
  align-self: center;
  text-align: left;
}
.footer-space1 {
  width: 100%;
  height: 12px;
  display: flex;
  align-items: flex-start;
}
.footer-teléfono {
  flex: 0 0 auto;
  width: 100%;
  height: 24px;
  display: flex;
  align-items: flex-start;
}
.footer-icon06 {
  width: 24px;
  height: 24px;
}
.footer-container6 {
  flex: 0 0 auto;
  width: 10px;
  height: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text4 {
  align-self: center;
  text-align: left;
}
.footer-social-networks {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-follow-us {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-social-medias {
  width: 212px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-you-tube {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.footer-facebook {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.footer-instagram {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.footer-tiktok {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.footer-twitter {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.footer-text5 {
  align-self: center;
}
@media(max-width: 991px) {
  .footer-component {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .footer-component {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-logo {
    align-items: center;
  }
  .footer-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer-component {
    padding: var(--dl-space-space-unit);
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
  }
  .footer-links-container {
    align-items: center;
    flex-direction: column;
  }
  .footer-contact-container {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0;
  }
  .footer-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text5 {
    text-align: center;
  }
}

.producto-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.producto-text {
  margin: var(--dl-space-space-sixunits);
  font-size: 3em;
  align-self: flex-start;
}
.producto-producto {
  gap: 185px;
  width: 90%;
  height: 40%;
  margin: var(--dl-space-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.producto-product-viewer {
  width: 100%;
  height: 40%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.producto-text3 {
  left: 575px;
  color: rgba(0, 0, 0, 1);
  width: 311px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Medium;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.producto-text5 {
  top: 126px;
  left: 552px;
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.producto-image {
  width: 534px;
  height: 100%;
  object-fit: cover;
}
.producto-boton-compra {
  width: 20%;
  height: 74px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.producto-icon {
  width: 32px;
  height: 32px;
  align-self: center;
}
.producto-comprar {
  color: rgba(0, 0, 0, 1);
  width: 119px;
  height: auto;
  font-size: 24px;
  align-self: center;
  font-style: Normal;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.producto-boton-contactar {
  width: 20%;
  height: 74px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.producto-icon4 {
  width: 32px;
  height: 32px;
  align-self: center;
}
.producto-contactar {
  color: rgb(0, 0, 0);
  width: 119px;
  height: auto;
  font-size: 24px;
  font-style: Normal;
  text-align: center;
  font-family: "Inter", serif;
  font-weight: 400;
  line-height: 130%;
  font-stretch: normal;
  text-decoration: none;
}
.producto-return {
  right: 48px;
  width: 100px;
  bottom: 24px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
}
.producto-icon6 {
  width: 26px;
  height: 26px;
  align-self: center;
}
.producto-volver {
  top: 0;
  color: rgb(0, 0, 0);
  right: 0;
  width: 66px;
  bottom: 0;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  font-style: Normal;
  text-align: center;
  font-family: "Inter", serif;
  font-weight: 400;
  line-height: 130%;
  font-stretch: normal;
  text-decoration: none;
}
.producto-container1 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
