* {
  font-family: Inter, serif;
}

.product-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.product-title {
  width: 90%;
  height: auto;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  margin-left: var(--dl-space-space-sixunits);
  margin-top: var(--dl-space-space-threeunits);
  font-stretch: normal;
}

.product-section {
  gap: 185px;
  margin: var(--dl-space-space-threeunits) var(--dl-space-space-sixunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}

.product-viewer {
  width: 48%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}

.product-text {
  font-size: 24px;
  text-align: left;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
}

#product-price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.product-image {
  width: 35%;
  object-fit: cover;
}

#product-actions {
  width: 50%;
  display: flex;
  text-align: right;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}

.product-buttons {
  text-decoration: none;
  color: #363636;
  margin: 10px
}

.product-buttons:hover {
  color: black;
  filter: drop-shadow(1px 1px #595959);
}

#product-return {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #363636;
  margin-bottom: 40px;
}

#product-return:hover {
  color: black;
  filter: drop-shadow(1px 1px #595959);
}