<header class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4 px-12 gap-2.5">
  <app-logo></app-logo>
  <button id="burger-menu"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-400 rounded-lg lg:hidden hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-600"
          aria-controls="mobile-menu" aria-expanded="false">
    <i class="fas fa-bars"></i>
  </button>
  <div class="hidden w-full lg:block lg:w-auto" id="navbar-dropdown">
    <ul
      class="flex flex-col font-medium p-4 lg:p-0 mt-4 border border-gray-100 rounded-lg lg:space-x-8 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0">
      <li>
        <app-button [url]="'/'" [content]="'Inicio'" [icon]="'fa-solid fa-house'"></app-button>
      </li>
      <li>
        <app-button [url]="'/catalogue'" [content]="'Catálogo'" [icon]="'fa-solid fa-list'"></app-button>
      </li>
      <li>
        <app-button [url]="'/blog'" [content]="'Blog'" [icon]="'fa-solid fa-book'"></app-button>
      </li>
      <li>
        <app-button [url]="'/courses'" [content]="'Cursos'" [icon]="'fa-solid fa-graduation-cap'"></app-button>
      </li>
      <li>
        <app-button [url]="'/'" [icon]="'fa-solid fa-shopping-cart'"></app-button>
      </li>
      <li>
        <app-button [url]="'/login'" [icon]="'fa-solid fa-user'"></app-button>
      </li>
    </ul>
  </div>
</header>
